{% extends 'base.html' %}



{% block title %} Recruitment Control System {% endblock %}



{% block body %}

<div class="container">
    <div class="header">

        <h1>Recruitment Control System </h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li role="presentation" class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" href="/employers">Employers</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" href="/candidates">Applicants</a>
            </li>
          </ul>
            </div>
        </nav>
    </div>


</div>


{% endblock %}